body {
    // padding-left: 10%;
    // padding-right: 10%;
    background: #E5E5E5;
}

.d-flex {
    display: flex;
}

.block {
    display: flex;
    height: 321px;
    flex-direction: column;
    padding: 15%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;

    a {
        width: 91px;
    }
    
    img {
        display: block;
        width: 91px;
    }


    h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    }

    p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    }
}

.btn {
    width: 206px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 504px;
    gap: 1px 1px;
    grid-template-areas:
    "header header header"
    "main-block main-block main-block";
}

.header { grid-area: header; }

.main-block { grid-area: main-block; }

.description-block { grid-area: description-block; }

.header {
    padding: 0 5% 0 5%;
    justify-content: space-between;
    align-items: center;
    background: #FFFF;

    &__header-links {
        font-family: 'Lato', sans-serif;

        li {
            margin: 10px;
            list-style: none;
            
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

.main-block {
    background-image: url("../img/svg/main-img.svg");
    background-size: cover;
    align-items: center;
    position: relative;

    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 62px;
        margin: 0;
    }
    h2 {
        font-family: 'Lato', sans-serif;
    }
}

.main-block__description {
    margin-left: 10%;
    position: absolute;
}

.to-book-btn {
    background: #FFFEFD;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.pre-description {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 120px;
}

.description-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    "decs-T desc-video desc-taxi"
    "desc-nutrition desc-walks desc-doctors";
    position: relative;
    margin: 0 5% 0 5%;
    background-image: url("../img/svg/paw2.svg");
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.decs-T { grid-area: decs-T; }

.desc-video { grid-area: desc-video; }

.desc-taxi { grid-area: desc-taxi; }

.desc-nutrition { grid-area: desc-nutrition; }

.desc-walks { grid-area: desc-walks; }

.desc-doctors { grid-area: desc-doctors; }

.pre-example {
    text-align: center;
    margin: 120px auto 20px;
}

.example {
    margin: 0 5% 0 5%;
    justify-content: center;

    * {
        margin: 0 5% 0 5%;
    }
}